.Card {
  border: 1px solid #000;
  width: calc(100% / 3 - 30px);
  margin: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.Card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/bg.jpg) no-repeat left center fixed;
  background-size: cover;
  min-height: 100vh; }

.Header {
  max-width: 1200px;
  width: 100%;
  color: #a61f22;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px; }
  @media (max-width: 500px) {
    .Header {
      flex-direction: column;
      align-items: center; } }

.Header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px; }

.Header__logo-image {
  width: 100%; }

.Header__logo-name {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600; }

.Header__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between; }
  @media (max-width: 500px) {
    .Header__info {
      align-items: center; } }

.Header__info-free {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: auto; }

.Header__info-tel {
  color: inherit;
  text-decoration: none;
  margin: 5px 0; }

.Header__info-work-time {
  margin: 5px 0;
  text-transform: uppercase; }

.Header__soc-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 5px 0; }

.Header__soc-item:not(:last-child) {
  margin-right: 15px; }

.Header__soc-link {
  color: inherit;
  transition: .1s;
  font-size: 1.5rem; }
  .Header__soc-link:hover i {
    opacity: .7;
    transform: rotate(10deg); }

.Nav {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.Nav__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px; }

.Nav__navigation {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center; }

.Nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center; }

.Nav__item {
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;
  background: yellow;
  color: red;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  user-select: none; }

.Nav__item:hover {
  background: orange;
  color: white; }

.Cards {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px; }

.Card {
  border: 1px solid #000;
  width: calc(100% / 3 - 30px);
  margin: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.Card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
