@font-face {
  font-family: 'han_zi';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/han_zi.ttf") format("truetype"), url("./fonts/han_zi.woff") format("woff"), url("./fonts/han_zi.woff2") format("woff2"); }

@font-face {
  font-family: 'china_cyr';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/china_cyr.ttf") format("truetype"), url("./fonts/china_cyr.woff") format("woff"), url("./fonts/china_cyr.woff2") format("woff2"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: han_zi, sans-serif; }

.Card {
  width: calc(100% / 4 - 30px);
  margin: 15px;
  display: flex;
  flex-direction: column;
  transition: .1s;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  @media (max-width: 1000px) {
    .Card {
      width: calc(100% / 3 - 30px); } }
  @media (max-width: 768px) {
    .Card {
      width: calc(100% / 2 - 30px); } }
  @media (max-width: 450px) {
    .Card {
      width: calc(100% - 30px);
      max-width: 80%; } }

.Card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.Card__image {
  width: 100%;
  display: block;
  border-radius: 5px;
  height: auto; }

.Card__name {
  padding: 10px 5px;
  text-transform: uppercase;
  color: #a61f22;
  font-weight: 600;
  margin-bottom: auto; }

.Card__btn-buy {
  margin: 10px;
  border: 1px solid #335c40;
  color: #335c40;
  font-weight: 600;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  background: none;
  font-family: han_zi, sans-serif;
  cursor: pointer;
  outline: none; }

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./img/bg.jpg) no-repeat left center fixed;
  background-size: cover;
  min-height: 100vh; }

.Header {
  max-width: 1200px;
  width: 100%;
  background: rgba(217, 211, 184, 0.9);
  color: #a61f22;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #a61f22; }
  @media (max-width: 768px) {
    .Header {
      flex-direction: column;
      align-items: flex-end; } }
  @media (max-width: 450px) {
    .Header {
      flex-direction: column;
      align-items: center; } }

.Header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; }
  @media (max-width: 768px) {
    .Header__logo {
      flex-direction: row;
      margin: 0;
      margin-bottom: 20px; } }

.Header__logo-image {
  width: 100%;
  max-width: 100px;
  display: block; }
  @media (max-width: 768px) {
    .Header__logo-image {
      max-width: 50px;
      margin-right: 10px; } }

.Header__logo-name {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600; }

.Header__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between; }
  @media (max-width: 450px) {
    .Header__info {
      align-items: center; } }

.Header__info-free {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: auto; }

.Header__info-tel {
  color: inherit;
  text-decoration: none;
  margin: 5px 0; }

.Header__info-work-time {
  margin: 5px 0;
  text-transform: uppercase; }

.Header__soc-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 5px 0; }

.Header__soc-item:not(:last-child) {
  margin-right: 15px; }

.Header__soc-link {
  color: inherit;
  transition: .1s;
  font-size: 1.5rem; }
  .Header__soc-link:hover i {
    opacity: .7;
    transform: rotate(10deg); }

.Nav {
  width: 100%;
  max-width: 1200px;
  background: rgba(217, 211, 184, 0.9);
  color: #a61f22;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 768px) {
    .Nav {
      position: fixed;
      height: 100%;
      left: 0;
      bottom: -100%;
      width: auto;
      align-items: flex-start;
      width: 100%;
      padding-top: 70px;
      transition: .2s; } }
  @media (max-width: 768px) {
    .Nav--active {
      bottom: 0; } }

.Nav__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  margin: 5px 0; }

.Nav__btn {
  position: fixed;
  top: 15px;
  left: 15px;
  display: none;
  font-size: 2.5rem;
  color: #a61f22;
  border: none;
  background: rgba(217, 211, 184, 0.9);
  border-radius: 5px;
  outline: none;
  transition: .2s;
  height: 3rem;
  width: 3rem; }
  @media (max-width: 768px) {
    .Nav__btn {
      display: flex;
      align-items: center;
      justify-content: center; } }

.Nav__navigation {
  width: 100%; }

.Nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; }
  @media (max-width: 768px) {
    .Nav__list {
      flex-direction: column;
      justify-content: flex-start; } }

.Nav__item {
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .1s;
  user-select: none;
  text-align: center; }
  .Nav__item--active {
    background: rgba(255, 255, 255, 0.5); }

.Nav__item:hover {
  background: rgba(255, 255, 255, 0.5); }

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: rgba(217, 211, 184, 0.9);
  width: 100%;
  max-width: 1200px; }
  @media (max-width: 768px) {
    .Cards {
      justify-content: center; } }

.Card {
  width: calc(100% / 4 - 30px);
  margin: 15px;
  display: flex;
  flex-direction: column;
  transition: .1s;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  @media (max-width: 1000px) {
    .Card {
      width: calc(100% / 3 - 30px); } }
  @media (max-width: 768px) {
    .Card {
      width: calc(100% / 2 - 30px); } }
  @media (max-width: 450px) {
    .Card {
      width: calc(100% - 30px);
      max-width: 80%; } }

.Card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.Card__image {
  width: 100%;
  display: block;
  border-radius: 5px;
  height: auto; }

.Card__name {
  padding: 10px 5px;
  text-transform: uppercase;
  color: #a61f22;
  font-weight: 600;
  margin-bottom: auto; }

.Card__btn-buy {
  margin: 10px;
  border: 1px solid #335c40;
  color: #335c40;
  font-weight: 600;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  background: none;
  font-family: han_zi, sans-serif;
  cursor: pointer;
  outline: none; }

.Footer {
  border-top: 1px solid #a61f22;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  background: rgba(217, 211, 184, 0.9);
  margin-top: auto;
  color: #a61f22;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: .8rem;
  font-family: sans-serif; }

.Footer__author {
  font-weight: 600; }

.Footer__link {
  color: #a61f22; }
