.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: $bgColor;
  width: 100%;
  max-width: 1200px;

  @media (max-width: $sm) {
    justify-content: center;
  }
}
