.Nav {
	width: 100%;
	max-width: 1200px;
	background: $bgColor;
	color: $textColor;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: $sm) {
		position: fixed;
		left: -100%;
		top: 0;
		bottom: 0;
		width: auto;
		align-items: flex-start;
		width: 100%;
		max-width: 350px;
		padding-top: 50px;
		transition: .2s;
	}

	&--active {
		@media (max-width: $sm) {
			left: 0;
		}
	}
}

.Nav__overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: none;
	display: none;
	z-index: -1;


	&--active {
		@media (max-width: $sm) {
			display: block;
		}
	}
}

.Nav__title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	margin: 5px 0;
}

.Nav__btn {
	position: fixed;
	top: 15px;
	left: 15px;
	display: none;
	font-size: 2.5rem;
	color: $textColor;
	border: none;
	background: $bgColor;
	border-radius: 5px;
	outline: none;
	transition: .2s;
	height: 3rem;
	width: 3rem;

	@media (max-width: $sm) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.Nav__navigation {
	width: 100%;
}

.Nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;

	@media (max-width: $sm) {
		flex-direction: column;
		justify-content: flex-start;
	}
}

.Nav__item {
	padding: 10px 30px;
	text-transform: uppercase;
	cursor: pointer;
	transition: .1s;
	user-select: none;
	text-align: center;

	&--active {
		background: rgba(255,255,255,.5);
	}
}

.Nav__item:hover {
	background: rgba(255,255,255,.5); 
}
